@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'La Belle Aurore', cursive;
    height: 100vh;
}

header{
    width: 100%;
    background: rgba(180, 180, 180, 0.866);
    opacity: 0.62;
    text-align: center;
    color: black;
    height: 100px;
}

header h1{
    padding-top: 1rem;
}

.container{
    background:url(./images/stade.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
}

.box-container{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 1rem 0 1rem;
    padding-bottom: 2rem;
    gap: 2rem;
}

.box{
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.box .card{
    max-width: 600px;
    margin-left: 5rem;
    background: rgba(180, 180, 180, 0.567);
    padding: 2rem;
    border-radius: .5rem;
    margin: 0 auto;
}

.box .card img{
    max-width: 500px;
    margin: 0 auto;
    height: 350px;
    border: 1px solid black;
}

.box .card span{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
}

.description{
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    background: rgba(180, 180, 180, 0.567);
    opacity: 0.62;
    padding: 5rem;
    margin-top: 2rem;
    border-radius: .5rem;
    color: black;
    height: 100%;
}

.description .demi{
    font-weight: bold;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.description .score-maroc{
    font-weight: bold;
    background: white;
    padding: 2rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.description .score-france{
    font-weight: bold;
    background: white;
    padding: 2rem;
    border-radius: 1rem;
}

@media (max-width: 1100px){
    header{
        font-size: 0.8rem;
    }
    .box-container{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .box .card{
        width: 300px;
    }

    .box .card img{
        width: 250px;
    }
}

